.cardContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  * + div {
    margin-top: 1.5em;
  }

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
}

.title {
  margin: 0;
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #030303;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030303;
}

.price {
  display: flex;
  align-items: center;
  color: #c68a12;
  font-weight: 700;
  ins {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
  }
}

.footerCategory {
  text-transform: uppercase;
}

.cardContainerShine {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #823953;
  background: linear-gradient(
    0deg,
    rgb(213, 121, 190) 0%,
    rgba(72, 131, 186, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #b53a3a88;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .description {
      margin: 0.5rem 0;
      color: #a89ec9;
    }

    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #25658908;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #cd666644;
    box-shadow: 0 7px 50px 10px #2e88a3aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}
