.cardContainer {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  * + div {
    margin-top: 1.5em;
  }

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  justify-content: center;
}
